#tableTasks th,
#tableTasks td {
    padding: 2em;
}

#tableTasks {
    margin: 3em;
    border-collapse: collapse;
}

#tableTasks_filter {
    margin: 2em;
}

#tableTasks_length {
    margin: 2em;
}

#tableUsers th,
#tableUsers td {
    padding: 2em;
}

#tableUsers {
    margin: 3em;
    border-collapse: collapse;
}

#tableUsers_filter {
    margin: 2em;
}

#tableUsers_length {
    margin: 2em;
}